.tasks {
    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
        padding-bottom: 20px;
        border-bottom: 1px solid #F2F2F2;

        &:hover {
            img {
                opacity: .2;
            }
        }

        img {
            opacity: 0;
            cursor: pointer;
            margin-left: 15px;

            &:hover {
                opacity: .8;
            }
        }

    }

    &__items {
        margin-top: 30px;
        &-row {
            display: flex;
            align-items: center;
            p {
                margin-left: 15px;
            }
        }
    }

    .checkbox {

        input:checked+label {

            background: #4DD599;
            border-color: #4DD599;

            svg {
                opacity: 1;

                path {
                    stroke: #fff;
                 }
            }
        }

        &:hover {
            label {
                background-color: #f2f2f2;
                border-color: #f2f2f2;

                svg {
                    opacity: 1;

                    path {
                        stroke: #b2b2b2;
                    }
                }
            }
        }

        input {
            display: none;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #E8E8E8;
            // box-sizing: border-box;
            border-radius: 30px;
            width: 20px;
            height: 20px;
            cursor: pointer;

            svg {
                opacity: 0;
            }
        }


    }
}